 :root {
    --main-color1: #a161b6;
    --main-color2: #a800d8;
    --main-color3: #9000a8;
 }
 
 
 * {
    margin: 0;
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
 }

 body { 
    background: linear-gradient(285deg,var(--main-color1) 0%, var(--main-color2) 50%, var(--main-color3) 100%);
    color: #f5f5f5;
 }

 header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(144, 0, 168, 0.9);
}

.logo {
    color: white;
    padding: 5px;
}

/*margins and flex for navigation options*/
.navbar > ul > li {
    list-style-type: none;
    display: flex;
    float: left;
    margin: 25px;
}

/*styling for nav-links*/
.nav-link {
    color: #f5f5f5;
    font-size: 18px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

#content {
    font-family: Space Mono, 'Courier New', Courier, monospace;
    padding-top: 25vh;
    align-items: center;
    margin: 5vh;
    height: 100vh;
}

#content h2 {
    padding-bottom: 5vh;
    text-align: center;
}

#content p:first-of-type {
    padding-bottom: 2vh;
}

