html {
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
}

/*styling for header section (top of page)*/
header {
    grid-area: header;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid;
    margin: 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(144, 0, 168, 0.9);
    z-index: 10;
}

body {
    background: linear-gradient(285deg,#a161b6 0%, #a800d8 50%, #9000a8 100%);
    color: #f5f5f5;
    display: grid;
    grid-template-areas: 
    "header header"
    "aside main"
    "footer footer"; 
    grid-template-columns: 200px 1fr;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh; 
    margin: 0; 
    gap: 10px; 
    overflow-x: hidden;
}

aside { 
    grid-area: aside;
    height: 100vh;
    background-color: rgba(119, 0, 139, 0.99);
    width: 20vw;
    position: fixed;
    left: 0;
    top: 13.5vh;
    justify-content: center;
    z-index: 10;
}

main { 
    grid-area: main;
    margin: 0 auto;
    position: relative; 
    left: 3vw;
    height: 100%
}

footer {
    grid-area: footer;
    text-align: center;
    position: relative;
    left: 11vw;
    padding: 10px;
    border-top: 2px solid;
    width: 25vw;
    margin: 0 auto;
}

.adj-logo {
    padding: 5px;
}

/*margins and flex for navigation options*/
.navbar > ul > li {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin: 25px auto;
    position: relative;
}

/*styling for nav-links*/
.nav-link {
    color: #f5f5f5;
    font-size: 18px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}

.links {
    text-align: center;
    width: 95%;
    margin: 0 auto;
    position: relative; 
    top: 10%;
}

.links p {
    margin: 12px;
}

.logo {
    color: white;
    margin: 0 auto;
    padding: 0 10px;
}

.logo:hover { 
    color: #df95f8;
}


/*styling and margin for main content section*/
.main-content {
    height: 55vh;
    width: 65vw;
    padding-top: 5vh;
    text-align: left;
    line-height: 2.2rem;
    margin: 10vh auto;
    display: column;
    justify-content: center;
    align-items: center;
}

.main-content h2 {
    font-size: 2.5rem;
}

.main-content p {
    font-size: 20px;
    margin-bottom: 5%;
}

.main-content a { 
    color: white;
}

.main-content a:hover { 
    text-decoration: none;
}

#welcome {
    display: block;
}

#about {
    display: none;
}

#musings {
    display: none;
}

#log {
    display: none;
}

#projects {
    display: none;
}

/*cta styling*/
.cta-btn {
    color: #f5f5f5;
    background: linear-gradient(#9000a8, #a800d8, #9000a8);
    border: 2px solid #d5d5d5;
    border-radius: 4px;
    box-shadow: 0 0 5px;
    width:fit-content;
    margin: auto;
    padding: 15px;
    font-size: larger;
    transition: 0.6s ease;
    }

.cta-btn:hover {
    background:#f5f5f5;
    color: #9000a8;
}

/*styling for link options on front page. "View Musings", "View Projects", "View Log"*/
.view-btn{
    background: linear-gradient(180deg, #a161b6, #a800d8, #9000a8);
    color: white;
    box-shadow: 0 0 4px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 4px;
    width: 10vw;
    margin: 10vh auto;
    transition: all 0.7s ease;
}

.view-btn:hover {
    background: white;
    color: #9000a8;
}

.btn-container {
    margin-top: 3vh;
}

@media screen and (max-width: 768px) {
     * {
        font-size: 18px;
    }

    body {
background: linear-gradient(285deg,#a161b6 0%, #a800d8 50%);
color: #f5f5f5;
}
  
 header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 0, 168, 0.9);
}

header h1 {
  position: relative;
  color: white;
  font-size: 28px;
  left: 3vw;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

header li {
  margin: 0;
}

header a {
  color: white;
  padding: 10px;
  text-decoration: none;
  font-size: 10px
}

.main-content {
    width: 100%;
    margin: 10% auto;
}

   .hero {
  height: 40vh;
  margin-top: 15vh;
  text-align: center;
  line-height: 2.5rem
}

.hero h2 {
    font-size: 2rem;
}

.hero p {
    font-size: 20px;
    margin-bottom: 5%;
}

/*cta styling*/
.cta-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta-btn {
    color: #f5f5f5;
    border: 2px solid #d5d5d5;
    border-radius: 20px;
    width:fit-content;
    margin: auto;
    padding: 10px;
    font-size: larger;
    transition: 0.6s ease;
    text-decoration: none;
    }

.cta-btn:hover {
    background-color:#f5f5f5;
    color: #9000a8;
}

/*musings styling*/
.musings {
    padding-top: 65%;
    text-align: center;
    height: 65vh;
}

.musings p {
    font-size: 18px;
    margin-bottom: 5%;
}

.musings h2 { 
    font-size: 32px;
}


/*log-pro*/
.log-pro-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

/*log styling*/
.log, .projects {
    width: 85%;
    padding: 15px;
    border: 2px solid;
    border-radius: 6px;
    text-align: center;
    margin: 10px auto;
}

/*styling p elements in the "From The Log" and "Stuff I've Done" sections*/
.log p, .projects p {
    font-size: 1.1rem;
}

#log, #projects { 
    width: 25vw;
}

footer {
    margin-top: 25vh
}
}


@media screen and (max-width: 480px) {

    * {
        font-size: 18px;
    }

    body {
    background: linear-gradient(180deg,#a161b6 0%, #a800d8 50%);
    color: #f5f5f5;
}
  
 header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 0, 168, 0.9);
}

header h1 {
  color: white;
  font-size: 20px;
  display: none;
}

header ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
  padding: 0;
}

header li {
  margin: 0;
}

header a {
  color: white;
  padding: 0;
  text-decoration: none;
  font-size: 10px
}

.main-content {
    width: 100%;
    margin: 10% auto;
}

   .hero {
  height: 85vh;
  padding-top: 60%;
  text-align: center;
  line-height: 2.5rem
}

.hero h2 {
    font-size: 2rem;
}

.hero p {
    font-size: 20px;
    margin-bottom: 5%;
}

/*cta styling*/
.cta-container {
    display: flex; 
    justify-content: center;
    align-items: center;
    text-align: center;
}

.cta-btn {
    color: #f5f5f5;
    border: 2px solid #d5d5d5;
    border-radius: 20px;
    width:fit-content;
    margin: auto;
    padding: 10px;
    font-size: larger;
    transition: 0.6s ease;
    text-decoration: none;
    }

.cta-btn:hover {
    background-color:#f5f5f5;
    color: #9000a8;
}

/*musings styling*/
.musings {
    padding-top: 65%;
    text-align: center;
    height: 95vh;
}

.musings p {
    font-size: 22px;
    margin-bottom: 5%;
}


/*log-pro*/
.log-pro-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 85vh;
}

/*log styling*/
.log, .projects {
    width: 85%;
    padding: 15px;
    border: 2px solid;
    text-align: center;
    margin: 10px auto;
}

/*styling p elements in the "From The Log" and "Stuff I've Done" sections*/
.log p, .projects p {
    font-size: 1.1rem;
}

.view-btn {
    width: 33vw;
}

footer {
    margin-top: 40vh
}
}
