html {
    font-family: Merriweather, Georgia, 'Times New Roman', Times, serif;
    margin: 0px;
}

body {
    background: #d890f0;
background: linear-gradient(285deg,#a161b6 0%, #a800d8 50%, #9000a8 100%);
color: #f5f5f5;
}


/*styling for header section (top of page)*/
header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 0, 168, 0.9);
}

.logo {
    color: white;
    padding: 5px;
}

/*margins and flex for navigation options*/
.navbar > ul > li {
    list-style-type: none;
    display: flex;
    float: left;
    margin: 25px;
}

/*styling for nav-links*/
.nav-link {
    color: #f5f5f5;
    font-size: 18px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}


/*styling and margin for main content section*/
.main-content {
    width: 67%;
    margin: 10% auto;
}

/*hero section*/
.hero {
    height: 70vh;
    padding-top: 10vh;
    text-align: center;
    line-height: 2.2rem;
}

.hero h2 {
    font-size: 2.5rem;
}

.hero p {
    font-size: 22px;
    margin-bottom: 5%;
}

/*cta styling*/
.cta-btn {
    color: #f5f5f5;
    border: 2px solid #d5d5d5;
    border-radius: 20px;
    width:fit-content;
    margin: auto;
    padding: 15px;
    font-size: larger;
    transition: 0.6s ease;
    }

.cta-btn:hover {
    background-color:#f5f5f5;
    color: #9000a8;
}

/*musings styling*/
.musings {
    padding-top: 15px;
    text-align: center;
    height: 65vh;
}

.musings p {
    font-size: 22px;
    margin-bottom: 5%;
}


/*log-pro*/
.log-pro-section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 55vh;
}

/*log styling*/
.log {
    width: 50%;
    padding: 15px;
    border-right: 2px solid;
    text-align: center;
}

/*project styling*/
.projects {
    width: 50%;
    padding: 15px;
    text-align: center;
}

/*styling p elements in the "From The Log" and "Stuff I've Done" sections*/
.log p, .projects p {
    font-size: 1.1rem;
}

footer {
    margin: 60px auto auto auto;
    border-top: 1px solid;
    padding-top: 15px;
    text-align: center;
    width: 67%;
    padding: 15px;
}


@media screen and (max-width: 576px) {
    * {
        font-size: 12px;
    }

    header {
    display: grid;
    border-bottom: 1px solid;
    width: 100%;
    margin: 0;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(144, 0, 168, 0.9);
}

.navbar > ul > li {
    list-style-type: none;
    display: flex;
    float: left;
    margin: 25px;
}

/*styling for nav-links*/
.nav-link {
    color: #f5f5f5;
    font-size: 18px;
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
}
    }



